### Problem 1: Cardinality of a Set

In [1]:
import csv

In [2]:
path = "E:/CS6220/Assignment 1/"

In [3]:
def cardinality_items(filename):
    cadinality_set=set()
    with open(path+filename,'r') as f:
        reader = csv.reader(f)
        for row in reader:
            cadinality_set = cadinality_set.union(set([element.strip() for element in row]))
    return len(cadinality_set)
print("The cardinality of the document given", cardinality_items("basket_data.csv"))

The cardinality of the document given 21

### Problem 2: ItemSets formation

In [4]:
def all_itemsets(items, k):
    if k == 0:
        return [[]]
    elif k > len(items):
        return []
    else:
        itemsets = []
        for i in range(len(items)):
            current_item = items[i]
            remaining_items = items[i+1:]
            for subset in all_itemsets(remaining_items, k-1):
                itemsets.append([current_item] + subset)
        return itemsets

# Example usage:
items_list = ["ham", "cheese", "bread","sugar"]
k = 3
result = all_itemsets(items_list, k)
print(result)

[['ham', 'cheese', 'bread'], ['ham', 'cheese', 'sugar'], ['ham', 'bread', 'sugar'], ['cheese', 'bread', 'sugar']]

Netflix Data Set: Data Verfication and Analysis

### Problem 3: Review Combined Data file

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
def pipe(filename):
    data = pd.read_csv(path+filename,header=None,names=['customer_id','rating','date'])
    return data

df_final = pd.concat([pipe('combined_data_1.txt'),pipe('combined_data_2.txt'),pipe('combined_data_3.txt'),pipe('combined_data_4.txt')], axis=0)

In [8]:
df_final['movie']=0

In [9]:
df_final.date = pd.to_datetime(df_final.date)

In [10]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100498277 entries, 0 to 26851925
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   customer_id  object
 1   rating       float64
 2   date         datetime64[ns]
 3   movie        int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 3.7+ GB

In [11]:
df_final.reset_index(drop=True, inplace=True)
index_range = df_final[df_final.rating.isnull()].index

In [12]:
for i in range(len(index_range)-1):
    df_final.iloc[index_range[i]:index_range[i+1],3]=i+1
i+=1
df_final.iloc[index_range[i]:,3]=i+1

In [13]:
df_final.drop(index_range, axis=0, inplace=True)
df_final.reset_index(drop=True, inplace=True)

In [14]:
df_final.customer_id = df_final.customer_id.astype(int)

3.a Total records of movie rating in the overall dataset

In [15]:
print("#Records of Movie Rating ",df_final.count()[0])

#Records of Movie Rating  100480507

3.b #Unique users in the entire dataset

In [16]:
print("#Unique users",len(df_final.customer_id.unique()))

#Unique users 480189

3.c Range of years this data is valid for

In [17]:
print(f"The range of years this data is valid for is from {df_final.date.dt.year.min()} to {df_final.date.dt.year.max()}")

The range of years this data is valid for is from 1999 to 2005

### Problem 4: Review Movies_titles dataset

In [18]:
with open(path+"movie_titles.csv", 'r') as file:
    column1,column2,column3=[],[],[]
    for line in file:
        parts = line.strip().split(',')
        column1.append(parts[0])
        column2.append(parts[1])
        if(len(parts)>=2):
            column3.append(",".join(parts[2:]))

# Create a DataFrame using the extracted data
import pandas as pd

data = {'id': column1, 'year': column2, 'movie_title': column3}
df_movie = pd.DataFrame(data)

In [19]:
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17770 entries, 0 to 17769
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           17770 non-null  object
 1   year         17770 non-null  object
 2   movie_title  17770 non-null  object
dtypes: object(3)
memory usage: 416.6+ KB

In [20]:
df_movie.id = df_movie.id.astype(int)

4.a How many movies with unique names are there

In [21]:
print("#Unique movie names",len(df_movie.movie_title.unique()))

#Unique movie names 17359

4.b How many movie names refer to four different movies?

In [22]:
grouped = df_movie.movie_title.value_counts().reset_index()
display(grouped[grouped.movie_title>=4])
print("#Movies with atleast four different ids", grouped[grouped.movie_title>=4].count()[0])

                         index  movie_title
0  The Hunchback of Notre Dame            6
1                 Oliver Twist            5
2                Anna Karenina            5
3                       Hamlet            4
4              Treasure Island            4
5                  Bad Company            4
6                    Peter Pan            4
7                    Pinocchio            4

#Movies with atleast four different ids 8

### 5. Lets review both

5.a How many users rated exactly 200 movies

In [23]:
grouped = df_final.groupby("customer_id")['movie'].count().reset_index()
grouped_200 = grouped[grouped.movie==200]
print("#Users rates exactly 200 movies:",grouped_200.count()[0])

#Users rates exactly 200 movies: 605

5.b Of these users, take the lowest user ID and print out the names of the movies that
this person liked the most (all 5 star ratings).

In [24]:
customer_min = df_final[(df_final.customer_id == grouped_200['customer_id'].astype(int).min()) & (df_final.rating==5)]

In [25]:
pd.merge(customer_min, df_movie, left_on='movie', right_on='id', how='inner')['movie_title']

0                                         High Fidelity
1     Monty Python's The Meaning of Life: Special Ed...
2                                       American Beauty
3                                            Roger & Me
4                 Eternal Sunshine of the Spotless Mind
5                                  Being John Malkovich
6                         Vietnam: A Television History
7                                         Super Size Me
8         Lord of the Rings: The Fellowship of the Ring
9                                    This Is Spinal Tap
10                                          The Pianist
11                             The Silence of the Lambs
12                                             Sideways
13                                          Whale Rider
14                                         Garden State
15                                Bowling for Columbine
16                                               Gandhi
17                                 Apocalypse Now Redux
18                                           To Die For
19                         Monty Python's Life of Brian
20                             The Manchurian Candidate
21                                              Memento
22                                               Amelie
23                                       Apocalypse Now
24                                   The Usual Suspects
25    Lord of the Rings: The Two Towers: Extended Ed...
26    The Lord of the Rings: The Fellowship of the R...
27                                    Touching the Void
28                                      Minority Report
29                                 The Royal Tenenbaums
30                                             Election
31                                    Good Will Hunting
32                                    L.A. Confidential
33                                          Taxi Driver
34                    Lord of the Rings: The Two Towers
35                                              Cabaret
36                                           Adaptation
37                                          The Accused
38                                  Lost in Translation
39                                       Boys Don't Cry
40                                    To Be and To Have
41                                     Schindler's List
42                                          Raging Bull
43            Lord of the Rings: The Return of the King
44                      Monty Python and the Holy Grail
45                                      Raising Arizona
46            The Shawshank Redemption: Special Edition
47                                     Harold and Maude
48                                             Downfall
49    Lord of the Rings: The Return of the King: Ext...
50                                              Monster
51                                     Band of Brothers
52                                          Three Kings
53                                           Unforgiven
54                                  Maria Full of Grace
55                               Days of Wine and Roses
56                                  Shakespeare in Love
Name: movie_title, dtype: object